<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="dummyExtension" name="Dummy Extension " schema="schema/dummyExtension.exsd"/>
   <extension
         id="view"
         name="Metrics Table"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.metrics.view.MetricsView">
      </view>
   </extension>
   <extension
         id="tool"
         name="name"
         point="pt.iscte.pidesco.tool">
      <tool
            class="pa.iscde.metrics.MetricsTool"
            description="Allows for Metric Analysis"
            hasState="false"
            icon="refresh.gif"
            view="pa.iscde.metrics.MetricsTool">
      </tool>
   </extension>

</plugin>
